
<<<<<<< HEAD
<%= render 'form', user: @user %>
=======
<div class="panel panel-primary">
	<div class="panel-heading ">
		<h3 align="center" >Editar Usuario</h3>
	</div>
</div>
<%= render 'form', user: @user %>
>>>>>>> 93c7cbafb2810113ceb33c2ad221508d3e48de0c
