  	<div class="col-md-4"></div>
	<div class="col-md-5">
  		<div class="panel panel-primary">
        	<div class="panel-heading ">
				<h3 align="center" >Editar Ficha Penal</h3>
			</div>
		</div>
	</div>
	
<%= render 'form', criminal_record: @criminal_record %>


