 	<div class="col-md-4"></div>
	<div class="col-md-5">
  		<div class="panel panel-primary">
        	<div class="panel-heading ">
				<h3 align="center" >Editar Audiencia</h3>
			</div>
		</div>
	</div>

<%= render 'form', hearing: @hearing %>


