 <link rel="stylesheet" type="text/css" href="print.css" />
<link rel="stylesheet" type="text/css" href="Style.css" />
<div  class="box">
  <div id = "printarea" class="box-header">
    <div class="text-center">
      <h3><b>Reporte de Audiencias</b></h3>
      <h4><b>Fecha: </b><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></h4>
    </div>
    <ul class="col-md-12">
      <!--Detalle de sus transferencias-->
      <li class="list-group-item active"><strong>Audiencias</strong></li>
      <li class="list-group-item">
        <table class= "table table-hover table-striped  table-bordered table-striped" >
          <thead>
            <tr>
             <th>Fecha de audiencia</th>
             <th>Defensor</th>
             <th>Caso</th>
            </tr>
          </thead>
          <tbody>
             <% @hearings.each do |hearing| %>
              <tr>
                <td><%= @hearing.hearing_date %></td>
                <td><%= @hearing.user.entity.full_name %></td>
                <td><%= @hearing.legal_case.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </div>

  <input type="button" value="Print" class="btn" onclick="PrintDoc()"/>
</div>
